.container-simon {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .simon {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .center {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      position: absolute;
      color: white;
      text-align: center;

      .btn-center {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #0e0236;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        transform: translate(-50%, -50%);

        .btn-center-play-stop {
          width: 80%;
          height: 80%;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 3;
          transform: translate(-50%, -50%);
          background-color: #0e0236;
          color: #fff;

          border: 0;

          .play {
            padding-left: 10px;
            font-size: 5rem;
          }

          .stop {
            padding-left: 5px;
            font-size: 5rem;
          }
        }

        .green {
          background-color: green;
        }
        .red {
          background-color: red;
        }
      }
    }
    .aparato {
      width: 500px;
      height: 500px;
      border-radius: 50%;
      background-color: rgba($color: #0e0236, $alpha: 1);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .bloque {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .btn-left-up {
          width: 220px;
          height: 220px;
          margin-left: 10px;
          border-top-left-radius: 100%;
          background-color: blue;
        }
        .btn-right-up {
          width: 220px;
          height: 220px;
          margin-right: 10px;
          border-top-right-radius: 100%;
          background-color: red;
        }
        .btn-left-down {
          width: 220px;
          height: 220px;
          margin-left: 10px;
          border-bottom-left-radius: 100%;
          background-color: yellow;
        }
        .btn-right-down {
          width: 220px;
          height: 220px;
          margin-right: 10px;
          border-bottom-right-radius: 100%;
          background-color: green;
        }

        .blue {
          background: rgb(3, 124, 194);
          filter: brightness(1.75);
        }

        .red {
          background: rgb(240, 93, 57);
          filter: brightness(1.75);
        }

        .yellow {
          background: rgb(211, 228, 149);
          filter: brightness(1.75);
        }

        .green {
          background: rgb(28, 241, 110);
          filter: brightness(1.75);
        }

        .light {
          box-shadow: inset 0 0 15px 10px rgba(255, 255, 255, 0.9);
          filter: brightness(1.75);
        }
      }
    }
  }
}
