<section class="container-controls">
  <div class="puntaje">
    <h3>Puntaje: {{ score }}</h3>
    <!-- <h3>Mejor puntaje: {{ bestScore }}</h3> -->
  </div>
  <!-- <div class="controls">
    <div class="btn-group">
      <button class="btn btn-primary">Lento</button>
      <button class="btn btn-primary">Medio</button>
      <button class="btn btn-primary">Rápido</button>
    </div>
  </div> -->
</section>

<!-- <button class="btn btn-primary" (click)="startGame()">Start</button>
        <button class="btn btn-primary" (click)="stopGame()">Stop</button>
        <button class="btn btn-primary" (click)="resetGame()">Reset</button> -->
