<section class="inicio" *ngIf="inicio">
  <app-inicio
    (inicio)="cerrarInicio($event)"
    (jugar)="iniciarJuego($event)"
    (instrucciones)="iniciarInstrucciones($event)"
  ></app-inicio>
</section>
<section class="instrucciones" *ngIf="instrucciones">
  <div class="row px-3">
    <div class="col-1 py-2">
      <button class="btn btn-warning" (click)="back()">
        <i class="bi bi-arrow-90deg-left"></i>
      </button>
    </div>
    <div class="col">
      <div class="titular">
        <h2 class="titulo-tablero">{{ title }}</h2>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="page-instrucciones">
    <app-instrucciones></app-instrucciones>
  </div>
</section>
<section class="juego" *ngIf="juego">
  <div class="row px-3">
    <div class="col-2 py-2">
      <button class="btn btn-warning" (click)="back()">
        <i class="bi bi-arrow-90deg-left"></i>
      </button>
    </div>
    <div class="col">
      <div class="titular">
        <h2 class="titulo-tablero">{{ title }}</h2>
      </div>
    </div>
    <div class="col-2 py-2"></div>
  </div>
  <div class="tablero">
    <app-simon (score)="setScore($event)" (bestScore)="setBestScore($event)"></app-simon>
    <app-controls [score]="score" [bestScore]="bestScore"></app-controls>
  </div>
</section>
